@import 'core/settings';

body {
	background: url('../images/logo-adalab-80px.png') center center no-repeat $color-white;
	height: 100vh;
	margin: 0%;
	padding: 0%;
}

@import 'core/header';
@import 'core/main';