<header>

    <div class="imageandmenu__container">

    <div class="image__container"> 

        <a href="https://adalab.es/" 
        target="_blank" class="image__link">  
        
        <img src= "../assets/images/logo-adalab-80px.png">

        <ul class="menu__ul">

            <li class="menu__item">
                <a href="#" 
                class="item__link">Blog
                </a>
            </li>
            
            <li class="menu__item">
                <a href="#" class="item__link">Contacto
                </a>
            </li>
        </ul>
    </div>
    </div>
    
</header>



